.features172-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.features172-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
.features172-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
.features172-image {
  width: 497px;
  height: 264px;
  object-fit: cover;
}
.features172-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.features172-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.features172-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.features172-text1 {
  align-self: flex-start;
}
@media(max-width: 991px) {
  .features172-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
}
